# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/
ENV/

# Allure report output
reports/
allure-report/
allure-results/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
